<video autoplay muted loop playsinline class="bg-video">
    <source src="assets/video-page2.mp4" type="video/mp4" />
    Seu navegador não suporta vídeo em HTML5.
</video>

<div class="questionario-container">
    <div class="skip-questionario">
        <button mat-raised-button color="primary" routerLink="/">Pular Avaliação</button>
    </div>

    <div *ngIf="perguntas.length > 0" class="pergunta">

        <div>
            <h2>{{ perguntas[currentIndex].pergunta }}</h2>
        </div>

        <mat-radio-group class="respostas radio-branco" [(ngModel)]="respostaAtual">
            <mat-radio-button value="sim">Sim</mat-radio-button>
            <mat-radio-button value="nao">Não</mat-radio-button>
            <mat-radio-button value="nao_sei">Não sei</mat-radio-button>
        </mat-radio-group>


        <div class="m-10">
            <button mat-raised-button color="primary" (click)="next()" [disabled]="!canGoNext()">Próxima</button>

            <div class="m-2">
                Pergunta {{ currentIndex + 1 }} de {{ perguntas.length }}
            </div>
        </div>

    </div>
</div>