<!-- src/app/pages/questionario/questionario.component.html -->
<video autoplay muted loop playsinline class="bg-video">
    <source src="assets/video-page2.mp4" type="video/mp4" />
</video>

<div class="questionario-container">
    <div class="skip-questionario">
        <button mat-raised-button color="primary" routerLink="/checklist">
            Pular Avaliação
        </button>
    </div>

    <div *ngIf="perguntas.length > 0" class="pergunta">
        <h2>{{ perguntas[currentIndex].pergunta }}</h2>

        <mat-radio-group class="respostas radio-branco" [(ngModel)]="respostaAtual"
            (change)="setResposta(respostaAtual!)">
            <mat-radio-button value="sim">Sim</mat-radio-button>
            <mat-radio-button value="nao">Não</mat-radio-button>
            <mat-radio-button value="nao_sei">Não sei</mat-radio-button>
        </mat-radio-group>

        <div class="navegacao">
            <button mat-raised-button color="primary" (click)="next()" [disabled]="!canGoNext()">
                {{ currentIndex < perguntas.length - 1 ? 'Próxima' : 'Concluir' }} </button>
                    <div class="contador">
                        Pergunta {{ currentIndex + 1 }} de {{ perguntas.length }}
                    </div>
        </div>
    </div>
</div>

<footer class="footer-adaptive">
    <p>
        Este questionário é <strong>adaptativo</strong>: ele ajusta suas
        perguntas com base nas suas respostas. Algumas questões podem ser
        puladas automaticamente (responder “Não” a uma
        pergunta faz a próxima relacionada não ser mais necessária). Por
        isso, o número total de perguntas pode variar conforme seu
        progresso.
    </p>
</footer>