.bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.questionario-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 5rem);
    padding: 2rem;
    font-family: Arial, sans-serif;
}

.skip-questionario {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2rem;
}

.pergunta {
    font-size: 1rem;
    text-align: left;
    margin-top: 4rem;
    margin-bottom: 2rem;
    max-width: 700px;
    color: white;
}

.respostas {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
    margin-top: 5rem;
    color: white;
}

.respostas .mat-mdc-radio-button {
    --mdc-theme-text-primary-on-background: white;
    --mat-radio-checked-color: white;
    --mat-radio-label-text-color: white;
    color: white;
    /* Precaução para rótulo */
}

.m-10 {
    margin-top: 10rem;
}

.m-2 {
    margin-top: 2rem;
}