<video autoplay muted loop playsinline class="bg-video">
    <source src="assets/video-page1.mp4" type="video/mp4">
    Seu navegador não suporta vídeo em HTML5.
</video>
<div class="container">
    <header class="header">
        <h1 class="title">PCI DSS Checklist</h1>
        <div class="download">
            <button mat-icon-button aria-label="Download arquivo de conformidade" (click)="baixarArquivo()">
                <mat-icon style="color:#ccc">attach_file</mat-icon>
            </button>
            <p class="download-label">. Arquivo de conformidade</p>
        </div>
    </header>

    <main class="main">
        <p class="description">
            Uma lista de verificação interativa desenvolvida para facilitar a conformidade com o PCI DSS (Payment Card
            Industry Security Standard)
        </p>

        <div class="action-button">
            <button mat-raised-button color="primary" [routerLink]="['/questionario']">
                Avaliação Preliminar
                <button mat-icon-button matTooltip="Questionário opcional que visa agilizar o processo de conformidade"
                    class="tooltip-icon" tabindex="-1">
                    <mat-icon style="margin-bottom: 2px;">info</mat-icon>
                </button>
            </button>
        </div>
    </main>
</div>