.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Faz o vídeo cobrir toda a área sem distorcer */
    z-index: -1;
    /* Coloca o vídeo atrás dos outros elementos */
}

.container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 5rem);
    /* Garantir que a altura da página cubra toda a tela */
    padding: 2rem;
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
    color: white;
    /* Necessário para o posicionamento absoluto do vídeo */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
    margin-top: 2rem;
    position: relative;
    z-index: 1;
    /* Garantir que o conteúdo da header fique acima do vídeo */
}

.title {
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    flex-grow: 1;
    text-align: center;
}

.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 4rem;
    top: 35%;
    transform: translateY(-50%);
    font-weight: bold;
    width: 5em;
    z-index: 1;
    /* Garantir que o conteúdo da download fique acima do vídeo */
}

.download-label {
    font-size: 0.9rem;
    margin-top: 0.3rem;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    /* Necessário para garantir que o conteúdo da main fique acima do vídeo */
    z-index: 1;
}

.description {
    font-size: 2rem;
    max-width: 90rem;
    margin-top: 6em;
    margin-bottom: 4rem;
}

.action-button {
    position: fixed;
    bottom: 7rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    /* Garantir que o botão de ação fique acima do vídeo */
}

.tooltip-icon {
    margin-left: 0.5rem;
    vertical-align: middle;
}